PORT=port
NODE_ENV=development
MONGO_URI=mongodb://username:password@host1:port1,host2:port2,host3:port3/database?ssl=true&replicaSet=replicaSetName&authSource=admin&appName=appName
CLIENT_URL=http://your-client-url.com

CLOUDINARY_CLOUD_NAME=djv0q3x4a
CLOUDINARY_API_KEY=123456789012345
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

JWT_SECRET=your_jwt_secret
JWT_EXPIRES=2d

REDIS_HOST=redis-12345.c321.us-east-1-2.ec2.redns.redis-cloud.com
REDIS_PORT=17892
REDIS_USERNAME=default
REDIS_PASSWORD=your_password

EMAIL=your_email@gmail.com
EMAIL_PASS=your_email_password